@use "../setting" as *;

// ======================================
// フッター
// ======================================
.footer {
  &__title {
    margin-right: 1rem;
  }
  &__area01 {
    padding: 7.2rem 0;
    background-color: #0e1346;

    --text-color: #fff;
  }

  // &__grid {
  //   display: grid;
  //   gap: 0 4.0rem;
  //   grid-template-columns: repeat(4, 1fr);
  // }

  // &__menu {
  //   margin-top: 1em;
  //   display: flex;
  //   gap: .5em 1em;
  //   flex-wrap: wrap;
  //   font-size: 1.4rem;
  // }

  &__navi {
    display: grid;
    gap: 0 4.0rem;
    grid-template-columns: repeat(4, 1fr);
    &--inner {
      display: flex;
      gap: 5.8rem;
      flex-direction: column;
    }
    &--block {
      padding-top: 1.6rem;
      border-top: 1px solid #8f91a2;
      // & + & {
      //   margin-top: 5.8rem;
      // }
    }
    dt {
      font-size: 1.6rem;
      line-height: calc(32 / 16);
      a {
        display: inline-flex;
        gap: 0 2.0rem;
        align-items: center;
        &::after {
          content: "";
          width: 1.0rem;
          flex: none;
          background-image: url("data: image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.5 7.36'><path fill='%23fff' d='M7.35 3.33h0L4.17.15c-.2-.2-.51-.2-.71 0s-.2.51 0 .71l2.33 2.33H0v1h5.79L3.46 6.52c-.2.2-.2.51 0 .71.2.2.51.2.71 0l3.18-3.18c.2-.2.2-.51 0-.71Z'/></svg>");
          background-position: center;
          background-size: .8rem auto;
          background-repeat: no-repeat;

          aspect-ratio: 1;
        }
      }
    }
    dd {
      margin-top: 2.0rem;
    }
    li {
      + li {
        margin-top: .75em;
      }
    }
    .sns-link {
      display: flex;
      gap: 2.0rem;
    }
  }

  &__area02 {
    padding: 2.5rem 0;
    .main__container {
      max-width: 120.0rem;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.column02 {
      margin-top: 2.5rem;
      flex-direction: row-reverse;
    }
  }

  &__banners {
    display: flex;
    gap: 2.0rem;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    li {
      line-height: 1;
      + li {
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        border-left: 1px solid #8f91a2;
      }
    }
  }
}

#footerMenu {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 8;
  box-shadow: 0 -2px 8px 0 rgba(60, 64, 67, .25);
  transition: transform .3s;
  transform: translateY(100%);

  &.is-show {
    transform: translateY(0);
  }

  .btn {
    &__grid {
      width: 100%;
      padding: 2rem 0;
      gap: 5.0rem;
      background-color: rgba(#fff, 1);
    }

    &__01 {
      width: 30rem;
      height: 5.2rem;
      margin-top: 0;
      background-color: #fff;
    }
  }

  // &.is-active {
  //   opacity: 1;
  //   visibility: visible;
  // }
}


// ======================================
// タブレット以下
// ======================================
@include mq(tb) {
  .footer {
    &__area01 {
      padding: 3.2rem 0;
    }

    &__navi {
      gap: 2.0rem;
      grid-template-columns: repeat(2, 1fr);
      &--inner {
        gap: 3.2rem;
      }
      &--block {
        padding-top: 1.0rem;
        // & + & {
        //   margin-top: 3.2rem;
        // }
      }
      dt {
        font-size: 1.4rem;
      }
      dd {
        margin-top: 1.2rem;
        font-size: 1.2rem;
      }
      .sns-link {
        gap: 1.2rem;
        img {
          width: 4.0rem;
        }
      }
    }

    &__column {
      display: block;
      &.column02 {
        margin-top: 3.2rem;
      }
    }

    &__title {
      width: 26.0rem;
      margin: 0 auto 2.4rem;
    }

    &__banners {
      display: grid;
      gap: 1.2rem 2.4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &__links {
      justify-content: center;
      font-size: 1.2rem;
    }

    &__copyRight {
      margin-top: 2.4rem;
      text-align: center;
      font-size: 1.0rem;
    }
  }
}
