/* ===========================================
 *  フッター
 * ========================================== 
 */
 .footer {
    background-color: #d8d8d8;
    section {
        .is-corporate {
            figcaption {
                font-size: 12px;
                text-align: end;
                margin-right: 10px;
                margin-bottom: 3px;
            }
            img {
                width: 300px;
                height: auto;
            }
        }
    }
    .footer-upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;    
    }
    .footer-bottom {
        background-color: white;
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .is-row {
            display: flex;
            gap: 8px;
            figure {
                margin: 0!important;
            }
            
            .is-footerlogo {
                height: 40px;
                width: auto;
            }
            // img {
            //     height: 40px;
            //     width: auto;
            // }
        }
        .is-copy {
            font-size: 14px;
        }
        &-inner {
            width: 1100px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #pageTop {
        display: flex;
        margin-right: 8px;
        justify-content: flex-end;
    }
}
