@use "../setting" as *;

// ======================================
// ヘッダー
// ======================================
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 -2px 8px 0 rgba(60, 64, 67, .25);

  // &.is-open {
  //   .header__title {
  //     a {
  //       color: #fff;
  //     }
  //   }
  // }

  &__inner {
    height: 14.0rem;
    padding: 2.0rem 2.0rem;
    position: relative;
    display: flex;
    gap: 0 2.0rem;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  // タイトルロゴ
  &__title {
    margin: 0;
    position: relative;
    z-index: 9;
    font-size: 1.0rem;
    line-height: 1;
    &--logo {
      width: 20.8rem;
      display: block;
    }
  }

  &__navi {
    .has-child {
      > a {
        display: inline-flex;
        gap: .8rem;
        align-items: center;
        &::after {
          content: "";
          width: .6rem;
          display: inline-block;
          border-right: 2px solid #8f91a2;
          border-bottom: 2px solid #8f91a2;
          transform: rotate(45deg);

          aspect-ratio: 1;
        }
      }
      .js-menu-toggle {
        display: none;
      }
    }
    &--child {
      .child-navi {
        align-items: center;
        .text {
          width: 100%;
        }
        .title {
          font-size: 1.4rem;
        }
        .sentence {
          margin-top: 1em;
          font-size: 1.1rem;

          --text-color: #838383;
        }
        &.is-columns {
          gap: 4.5rem 0rem !important;

          a {
            flex-direction: column;

            &::after {
              content: none !important;
            }
          }
        }

        &.child-navi-columns {
          //
        }
        &--02 {
          display: grid;
          gap: 4.5rem 6rem;
          grid-template-columns: repeat(3,1fr);
        }
      }
    }
  }

  &__search {
    width: 100%;
    max-width: 60.0rem;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1;
    .input-box {
      padding-right: 3em;
    }
    input[type=text] {
      width: 100%;
      padding: .75em 1em;
    }
    button {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary;

      aspect-ratio: 1;
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    gap: 1.8rem;
  }

  &__button {
    width: 21.0rem;
    height: 4.5rem;
    position: relative;
    display: flex;
    gap: 0 .8rem;
    align-items: center;
    justify-content: center;
    border-radius: 2.25rem;
    background-color: $primary;
    font-weight: 700;
    font-size: 1.4rem;

    &.download {
      background-color: #eaeaea;
    }
    &.contact {
      --text-color: #fff;
    }
  }

  &__lang {
    &--menu {
      a {
        white-space: nowrap;
      }
    }
  }

  // ハンバーガーメニュー
  &__hamburger {
    padding: 0;
    position: relative;
    z-index: 2;
    display: none;
    gap: .6rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;

    .inner {
      width: 2.4rem;
      height: 1.6rem;
      margin: 0 auto;
      position: relative;
      display: block;

      > span {
        width: 100%;
        height: 2px;
        position: absolute;
        right: 0;
        background-color: $primary;
        transition: all .3s;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          top: calc(100% - 2px);
        }
      }
    }

    .label {
      display: inline-block;
      color: $primary;
      font-weight: 700;
      font-size: .8rem;
      line-height: 1;
    }

    // 展開時
    &.is-open {
      // color: #fff;
      .inner {
        > span {
          // background-color: #fff;
          &:nth-child(1) {
            width: 100%;
            top: 50%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }

          &:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}


// ======================================
// PC時のみ
// ======================================
@include mq(tb, min) {
  .header {
    &__navi {
      display: flex;
      gap: 2.0rem 0;
      flex-direction: column-reverse;
      &--main {
        display: flex;
        gap: 0 2.4rem;
        > ul {
          display: flex;
          align-items: center;
        }
      }
      &--menu01 {
        gap: 0 2.4rem;
        .has-child {
          margin-bottom: -3rem;
          padding-bottom: 3rem;
        }
      }
      // .has-child {
      //   &:hover {
      //     .header__navi--child {
      //       opacity: 1;
      //       visibility: visible;
      //     }
      //   }
      // }
      &--menu02 {
        // li {
        //   position: relative;
        //   + li {
        //     margin-left: 1.0rem;
        //     padding-left: 1.0rem;
        //     &::before {
        //       content: "";
        //       width: 1px;
        //       height: 50%;
        //       position: absolute;
        //       top: 25%;
        //       left: 0;
        //       background-color: #ccc;
        //     }
        //   }
        // }
        .separate {
          width: 1px;
          height: 50%;
          margin: 0 1.0rem;
          background-color: #8f91a2;
        }
        .has-child {
          > a {
            &::after {
              content: none;
            }
          }
        }
      }
      &--child {
        width: 100%;
        max-height: calc(100vh - 14.0rem);
        padding-top: 4rem;
        padding-bottom: 5.0rem;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        overflow: auto;
        background-color: #fff;
        box-shadow: 0 -2px 8px 0 rgba(60, 64, 67, .25);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s;
        &.is-show {
          display: block;
          opacity: 1;
          visibility: visible;
        }
        .inner {
          display: grid;
          gap: 0 5.0rem;
          grid-template-columns: auto 66.0rem;
        }
        .link-hl {
          display: inline-flex;
          gap: 0 5.0rem;
          align-items: flex-end;
        }
        .link-list {
          margin-top: 8.0rem;
          li {
            + li {
              margin-top: 1em;
            }
          }
        }
        .heading__01 {
          margin-bottom: 0;
        }
        .arrow__01 {
          margin-bottom: .3em;
        }
        .navi-area {
          padding-top: 3.5rem;
        }
        .child-navi {
          display: grid;
          &.col2 {
            gap: 4.5rem 0;
            grid-template-columns: repeat(2, 1fr);
            li {
              padding-bottom: 2.0rem;
              border-bottom: 1px solid #d3d3d3;
            }
          }
          &.col3 {
            gap: 4.5rem 3rem;
            grid-template-columns: repeat(3, 1fr);

            a {
              display: flex;
              gap: .8rem;
              align-items: center;
              justify-content: space-between;
              &::after {
                content: "";
                width: .6rem;
                display: inline-block;
                border-right: 2px solid #8f91a2;
                border-bottom: 2px solid #8f91a2;
                transform: rotate(-45deg);

                aspect-ratio: 1;
              }
            }
          }
          &-item {
            padding-right: 4.0rem;
            display: grid;
            gap: 0 2.0rem;
            grid-template-columns: 13.8rem auto;
          }
          .image {
            overflow: hidden;
            border-radius: .5rem;

            aspect-ratio: 1 / .652;
            img {
              @include coverImage;
            }
          }
          .text {
            margin: auto 0;
          }
        }
      }
    }

    &__lang {
      position: relative;
      &--menu {
        width: fit-content;
        padding: 2.0rem;
        right: -6.0rem;
        // left: 50%;
        left: auto;
        font-size: 1.2rem;
        // transform: translateX(-50%);
        li {
          + li {
            margin-top: .5em;
          }
        }
      }
    }

    .header__inner {
      transition: height .3s;
    }
    .header__title--logo {
      transition: all .3s;
    }

    &.is-scrolled {
      .header__inner {
        height: 6.8rem;
      }
      .header__title--logo {
        width: 14.8rem;
      }
      .header__buttons {
        display: none;
      }
    }
  }
}


// ======================================
// タブレット以下
// ======================================
@include mq(tb) {
  .header {
    &__inner {
      height: 6.0rem;
      padding: 0 0 0 1.6rem;
      gap: 0;
    }

    &__title {
      &--logo {
        width: 14.2rem;
      }
    }

    &__navi {
      width: 100%;
      height: 100dvh;
      padding: 8.0rem 2.0rem 6.0rem;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      overflow: auto;
      background-color: #fff;

      &--menu01 {
        border-top: 1px solid #ccc;
        > li {
          padding: 1.6rem .8rem;
          border-bottom: 1px solid #ccc;
          font-size: 1.6rem;
        }
      }

      .has-child {
        position: relative;
        > a {
          display: block;
          &::after {
            content: none;
          }
        }
        .js-menu-toggle {
          width: 5.1rem;
          position: absolute;
          top: .2rem;
          right: 0;
          display: block;
          // background-color: #ccc;

          aspect-ratio: 1;

          &::before, &::after {
            content: "";
            width: 30%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $primary;
            transform: translate(-50%, -50%);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(90deg);
          }

          &.is-open {
            &::after {
              transform: translate(-50%, -50%) rotate(180deg);
            }
          }
        }
      }

      &--child {
        display: none;
        .inner {
          padding: 0;
        }
        .info-area {
          display: none;
        }
        .child-navi {
          margin-top: 1.6rem;
          font-size: 1.4rem;
          li {
            + li {
              margin-top: 1em;
            }
          }
          &-item {
            display: flex;
            gap: 1em;
            align-items: flex-start;
          }
          .image {
            width: 8.0rem;
            flex: none;

            aspect-ratio: 1;
            img {
              @include coverImage;
            }
          }
          .title {
            br {
              display: none;
            }
          }
          .sentence {
            margin-top: .5em;
          }
          .none {
            display: none;
          }
        }
      }

      &--menu02 {
        margin-top: 2.0rem;
        display: flex;
        gap: 1em;
        flex-direction: column-reverse;
        .separate {
          display: none;
        }
      }

      &--search {
        > a {
          display: none !important;
        }
        .header__navi--child {
          display: block !important;
        }
      }
    }

    // &__search {
    //   width: 29.0rem;
    //   margin: 3.0rem auto;
    //   input[type="text"] {
    //     font-size: 1.8rem;
    //     line-height: 4.0rem;
    //   }
    //   button {
    //     width: 4.0rem;
    //     svg {
    //       width: 2.4rem;
    //       height: auto;
    //     }
    //   }
    // }

    &__buttons {
      margin-top: 2.0rem;
      // gap: 2.5rem 0;
      align-items: center;
      flex-direction: column;
    }

    &__button {
      width: 24.0rem;
      // height: 6.2rem;
      // border-radius: 3.1rem;
      // font-size: 1.8rem;
    }

    &__hamburger {
      width: 6.0rem;
      margin-left: auto;
      display: flex;
      flex: none;
    }

    &__contact {
      &--sp {
        width: 6.0rem;
        height: 6.0rem;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $primary;
        font-weight: 700;
        font-size: .8rem;

        --text-color: #fff;
        .icon {
          width: 2.4rem;
          height: auto;
        }
        span {
          letter-spacing: -.01em;
        }
      }
    }

    &__lang {
      margin-top: 1em;
      margin-bottom: 1em;
      > a {
        display: none !important;
      }
      &--menu {
        display: block;
        ul {
          display: flex;
          gap: 1em;
          flex-wrap: wrap;
          font-size: 1.2rem;
        }
      }
    }
  }
}
