@use "../setting" as *;

// ======================================
// 見出し・タイトル
// ======================================
.heading {
  &__01 {
    margin-bottom: 6.4rem;
    > span {
      display: block;
    }
    &--label {
      color: #9c9fbe;
      letter-spacing: .07em;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: calc(20 / 13);

      &.sm {
        font-size: 1.6rem;
      }

      &.bk {
        color: var(--text-color, #0e1346);
      }
    }
    &--main {
      color: var(--text-color, #0e1346);
      letter-spacing: .07em;
      font-weight: 500;
      font-size: 3.3rem;
    }
    + .heading__lead {
      margin-top: -1.6rem;
      margin-bottom: 6.0rem;
    }

    &.m-md {
      .heading__01--main {
        font-size: 2.5rem;
      }
    }

    &.sm {
      margin-bottom: 4.0rem;
      .heading__01--label {
        font-size: 1.1rem;
      }
      .heading__01--main {
        font-size: 2.0rem;
      }
    }
  }

  &__02 {
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 3.3rem;

    &::after {
      padding-bottom: 1.6rem;
      display: block;
      border-bottom: 3px solid $primary;
    }
    &.is-border01 {
      padding-bottom: 0;
      font-size: 2.5rem;

      &::after {
        content: "";
        width: 100%;
      }

      span {
        font-size: 1.6rem;
      }
    }
    &.is-border02 {
      text-align: center;

      &::after {
        content: "";
        width: 6.5rem;
        margin: 0 auto;
      }
    }
    &.is-border03 {
      text-align: left;

      &::after {
        content: "";
        width: 6.5rem;
        margin-right: auto;
      }
    }
    &.is-column {
      display: flex;
      gap: 1.3rem;
      flex-direction: column;
    }
    .note {
      font-size: 1.8rem;
    }
    .label {
      display: block;
      font-size: 1.4rem;
    }
  }

  &__03 {
    margin-bottom: 2rem;
    padding-left: 2rem;
    display: block;
    border-left: solid 4px $primary;
    font-size: 2rem;
    line-height: 1.7;

    span {
      margin-left: 4rem;
      color: #333;
      font-weight: 500;
      font-size: 1.4rem;
    }

    &.is-bg-primary {
      padding: .8rem 1.6rem;
      background-color: $primary;
      color: #fff;

      span {
        color: #fff;
      }
    }
  }

  &__04 {
    margin-bottom: 2.0rem;
    display: flex;
    gap: 1.0rem;
    align-items: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2;

    --text-color: #0e1346;
  }


  &__05 {
    margin-bottom: 5rem;
    padding: 1.5rem 4rem;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: #000;
        opacity: .5;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      color: #fff;
      font-size: 3.3rem;
    }
  }

  &__lead {
    margin-bottom: 4.8rem;
    text-align: center;

    p {
      letter-spacing: .2em;
      line-height: calc(36 / 16);
    }
  }
}

// ======================================
// タブレット以下
// ======================================
@include mq(tb) {
  .heading {
    &__01 {
      margin-bottom: 2.4rem;
      &--label {
        font-size: 1.4rem;
      }
      &--main {
        font-size: 1.8rem;
      }
    }

    &__02 {
      margin-bottom: 3.8rem;
      font-size: 2.0rem;

      &.is-border02 {
        &::after {
          width: 3rem;
          padding-bottom: 1rem;
        }
      }
      &.is-border01 {
        font-size: 1.8rem;
      }
    }

    &__03 {
      font-size: 1.6rem;
      span {
        margin-top: .5em;
        margin-left: 0;
        display: block;
        font-size: 1.2rem;
      }
    }

    &__04 {
      font-size: 2rem;
    }

    &__05 {
      margin-bottom: 3.0rem;
      padding: 1rem 2rem;
      .text {
        font-size: 2.0rem;
      }
    }
  }
}
