@use "../setting" as *;

// ======================================
//  テーブル
// ======================================
.table {
  &__01 {
    &--content {
      display: grid;
      grid-template-columns: 20.0rem 1fr;
    }
    &--head, &--detail {
      padding: 2.5rem 1rem;
    }
    &--head {
      margin-bottom: -.1rem;
      border-bottom: 2px solid var(--theme-color, $primary);
      color: $primary;
      text-align: center;
      font-weight: 600;
    }
    &--detail {
      border-bottom: 1px solid #ccc;

      .f-strong {
        font-weight: 700;
        font-size: 2rem;
      }

      p + p {
        margin-top: 2rem;
      }
    }
  }

  &__02 {
    &--content {
      width: 100%;
    }
    &--head {
      &--detail {
        font-weight: 600;
      }
      th {
        padding: 1.4rem 0;
      }
      th + th {
        border-left: 1px solid $white;
      }
    }
    &--title {
      margin-bottom: -.1rem;
      border-bottom: 2px solid var(--theme-color, $primary);
      text-align: center;
    }
    &--item {
      padding: 2.5rem;
      border-bottom: 1px solid #ccc;
    }
  }

  &__03 {
    &.left {
      .table__03 {
        &--title, &--item01, &--item02 {
          text-align: left;
        }
      }
    }
    &--c-title {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 2rem;

      // &.label {
      //   font-weight: 500;
      // }
    }
    &.v2 {
      .table__03 {
        &--item01 {
          width: 13rem;
        }
        &--item02 {
          width: auto;
        }
      }
    }
    &--content {
      width: 100%;
      border-collapse: collapse;
    }
    &--head {
      &--detail {
        font-weight: 600;
      }
      th {
        padding: 1.4rem 0;
      }
      th + th {
        border-left: 1px solid $white;
      }
    }
    &--item01, &--item02, &--title {
      padding: 1.6rem 1.2rem;
      border: 1px solid #dde1e6;
      background-color: var(--theme-color, $gray);
    }
    &--title {
      width: 17rem;
      max-width: 100%;
      margin-bottom: -.1rem;
      text-align: center;
    }
    .is-wide {
      width: 20rem!important;
    }
    .is-mdrem {
      width:15rem!important;
    }
    &--item02 {
      width: 13rem;
      min-width: 100%;
      text-align: center;

      a {
        color: var(--theme-color, $primary);
      }
    }
    a {
      text-decoration: underline;
      word-break: break-word;
    }
  }

  &__04 {
    width: 70%;

    &.w-100 {
      width: 100%;
    }
    .w-45, &.w-45 {
      width: 45%;
    }
    .w-35, &.w-35 {
      width: 35%;
    }
    th, td {
      &.text-center {
        text-align: center;
      }
      &.text-right {
        text-align: right;
      }
      &.bg-01 {
        background-color: #f5f6f9;
      }
      &.bg-02 {
        background-color: #ebedf3;
      }
    }
    &--content {
      width: 100%;
      border-collapse: collapse;
    }
    &--item {
      padding: 1.3rem 2rem;
      border: 1px solid #dde1e6;
    }
    &--title01, &--item01 {
      padding: .8rem 2rem;
      border: 1px solid #dde1e6;
    }
    &--detail {
      background-color: #f5f6f9;
    }
    &--c-title {
      margin-bottom: .5em;
      font-weight: 700;
      font-size: 1.4rem;

      &.fw-500 {
        font-weight: 500;
      }&.fs-17 {
        font-size: 1.7rem;
      }
    }
    &--c-note {
      margin-top: 1.5rem;
      font-size: 1.2rem;
    }
  }
}


.list {
  &__01 {
    &--list {
      display: grid;
      gap: 0 4.5rem;
      grid-template-columns: repeat(3,1fr);
    }
    &--item {
      width: 100%;
      padding: 1.8rem;
      padding-left: 1rem;
      position: relative;
      border-bottom: 1px solid #ccc;
    }
    &--item::after {
      content: "";
      width: 1rem;
      height: 1.4rem;
      position: absolute;
      top: calc(50% - .7rem);
      right: 0;
      background-image: url("data: image/svg+xml,<svg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1.31625L1.34583 0L8 6.5L1.34583 13L0 11.6838L5.30417 6.5L0 1.31625Z' fill='%23261F88'/></svg>");
    }
  }

  &__02 {
    &--list {
      display: grid;
      gap: 4.5rem;
      grid-template-columns: repeat(3,1fr);
    }

    &--item {
      .title {
        margin-top: .5rem;
        color: var(--theme-color,$primary);
        text-align: center;
        font-weight: 600;
        font-size: 2.2rem;
      }
    }
    .note {
      text-align: center;
      font-size: 1.4rem;
    }
  }

  // 一覧
  &__03 {
    &--list {
      display: flex;

// gap: 2rem;
      flex-direction: column;
    }
    &--item {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: grid;
      gap: 3.8rem;
      grid-template-columns: 12rem 1fr;
      align-items: center;
      border-bottom: 1px solid #d9d9d9;
    }
    &--sentence {
      // padding: 3.5rem 0;

      .label {
        margin-bottom: .5rem;
        color: #7a7d9a;
        font-size: 1.1rem;
      }
      .title {
        margin-bottom: .5rem;
        display: flex;
        gap: .5rem;
        align-items: center;
        font-weight: 700;

@include pdf-size;

        &.non-icon {
          &::after {
            content: none;
          }
        }
      }
    }
    &--visual {
      position: relative;

      // aspect-ratio: 114 / 160;

      // &::after {
      //   content: "NEW";
      //   width: 3.3rem;
      //   height: 3.3rem;
      //   padding-top: 1rem;
      //   position: absolute;
      //   top: -1rem;
      //   left: calc(100% + -2rem);
      //   display: block;
      //   border-radius: 50%;
      //   background-color: $primary;
      //   color: #fff;
      //   text-align: center;
      //   font-size: .9rem;
      // }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .tag_new {
        width: 3.2rem;
        height: 3.2rem;
        padding: 0;
        position: absolute;
        top: -.3rem;
        right: -1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $primary;
        color: #fff;
        text-align: center;
        font-size: .9rem;
      }
    }
  }
}

// ======================================
// PC時のみ
// ======================================
@include mq(tb, min) {
}


// ======================================
// タブレット以下
// ======================================
@include mq(tb) {
  .table {
    &__01 {
      &--content {
        display: block;
      }
      &--head {
        padding: 2rem 0 0;

// padding: 2rem 2rem 0 2rem;
        border-bottom: none;
        text-align: left;

        &:first-of-type {
          padding-top: 0;
        }
      }
      &--detail {
        padding: 2rem 0;

// padding: 1.0rem 2rem 2.0rem 2.0rem;
        border-bottom: none;
        border-bottom: 1px solid var(--theme-color, $primary);
      }
      .list-note {
        margin-top: 2.0rem;
        font-size: 1.2rem;
      }
    }

    &__02 {
      margin-right: -2.5rem;
      padding-right: 2.5rem;
      overflow-x: scroll;

      table {
        width: 100.0rem;
      }

      &.no-sp-scroll {
        table {
          width: 100%;
        }

        .table__02 {
          &--body {
            display: flex;
            gap: 2rem;
            flex-direction: column;
          }
          &--detail {
            display: flex;
            flex-direction: column;
          }
          &--title, &--item {
            padding: 1rem;
            padding-left: calc(30% + 2rem);
            position: relative;
            font-size: 1.4rem;

            &::before {
              content: attr(data-label);
              width: 30%;
              height: 100%;
              padding: 1rem;
              position: absolute;
              top: 0;
              left: 0;
              border-top: 1px solid #fff;
              background-color: #333;
              color: #fff;
              font-weight: 700;
              font-size: 1.4rem;
            }
          }
          &--title {
            border-bottom: 1px solid #ccc;
            text-align: start;
            font-weight: 500;
          }
          &--item {
            //padding: 2.5rem;
          }
        }
      }
    }

    &__03 {
      &.v2 {
        .table {
          &__03 {
            &--detail {
              padding: 1em 1em;
              border: 1px solid #dde1e6;
              background-color: var(--theme-color, #f8f8f8);
              + .table__03--detail {
                margin-top: 0;
                border-top: none;
              }
              > * {
                padding: 0;
                border: none;
                line-height: 1.6;
              }
            }
            &--title {
              margin-bottom: .5em;
              font-weight: 700;
            }
            &--item01 {
              width: 100%;
            }
          }
        }
      }
      &--detail {
        display: flex;
        flex-direction: column;

        & + & {
          margin-top: 3rem;
        }

        &.space {
          & + & {
            margin-top: 0;
            border-top: 2px solid #fff;
          }
        }
      }
      &--title {
        width: 100% !important;
        padding: 1em 1em;
      }
      &--item01 {
        border-top: 2px solid #fff;
      }
      &--item02 {
        padding: 2rem 1rem;
        border-top: 2px solid #fff;
      }
    }

    &__04 {
      width: 100%;

      &--c-title {
        font-size: 1.6rem;
      }
    }
  }

  .list {
    &__01 {
      &--list {
        grid-template-columns: 1fr;
      }
    }

    &__02 {
      &--list {
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
      }
    }

    // 一覧
    &__03 {
      &--item {
        gap: 3rem;
      }
    }
  }
}
