
// ======================================
// フォントの読み込み
// ======================================
// @font-face {
//   font-family: "Trajan Pro";
//   font-style: normal;
//   font-weight: 400;
//   src: local("Trajan Pro Regular"), url("../fonts/TrajanPro-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: "Trajan Pro";
//   font-style: normal;
//   font-weight: 700;
//   src: local("Trajan Pro Bold"), url("../fonts/TrajanPro-Bold.woff") format("woff");
// }

// ======================================
// 変数
// ======================================
// Typography
$font-size-root: 62.5% !default;
$font-size-base: 1.6rem !default;
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Helvetica Neue,YuGothic,ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,Arial,メイリオ,Meiryo,sans-serif !default;
$font-family-serif: "Noto Serif JP", serif !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$ZenKakuGothic: "Zen Kaku Gothic New", sans-serif;
$ZenOldMincho: "Zen Old Mincho", serif;
$TrajanPro: "Trajan Pro", serif;
$ShipporiMincho: "Shippori Mincho", serif;
$CormorantGaramond: "Cormorant Garamond", serif;
$NotoSans: "Noto Sans JP", sans-serif;
$Roboto: "Roboto", sans-serif;
$Poppins: "Poppins", sans-serif;

// Color
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #c50000 !default;
$orange: #dd5e25 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$white: #fff !default;
$black: #000 !default;

// Theme color
$primary: #29318a !default;
// $primary: #006e52 !default;
$secondary: #867439 !default;
$light: #f8f7f3 !default;
$dark: #000 !default;
$gold: #ad9a5c !default;
$gray: #f8f8f8 !default;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "orange":     $orange,
  "gold":       $gold,
) !default;

// Body
$body-bg: #fff !default;  // 背景カラー
$body-color: #000 !default;  // テキストカラー

// Links
$link-color: #0e1346 !default;

// Border
$border-color: #ccc;

// ベースカラー
$main-color: #0e1346;

// ======================================
// フォントサイズ
// ======================================
$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.625 !default;
$h3-font-size: $font-size-base * 2.25 !default;
$h4-font-size: $font-size-base * 2 !default;
$h5-font-size: $font-size-base * 1.75 !default;
$h6-font-size: $font-size-base * 1.5 !default;
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

// ======================================
// margin・padding
// ======================================
$spacer: 1.6rem !default;
$spacers: (
  sm: 4.0rem,
  md: 6.0rem,
  lg: 10.0rem,
  0: 0,
  1: $spacer * .5,
  2: $spacer * 1,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6,
  10: $spacer * 7,
  11: $spacer * 8,
  12: $spacer * 9,
  13: $spacer * 10,
  14: $spacer * 11,
  15: $spacer * 12
) !default;


// ======================================
// ブレイクポイント
// ======================================
$mq-breakpoints: (
  xl: 1440px,
  lg: 1280px,
  md: 1024px,
  tb: 769px,
  sm: 576px,
  xs: 414px
) !default;
