.l-about {
    max-width: 1000px;
    padding: 70px 2rem;
    margin: 0 auto;
    .txt-wrapper {
        padding-left: 1rem;
        display: flex;
        align-items: flex-start;
        a {
            text-decoration: none;
            color: #29318a;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    .wrapper-num {
        display: flex;
        align-items: flex-start;
        padding-right: 3px;
    }
    .txt-wrapper-detail {
        padding-left: 2rem;
        display: flex;
        align-items: flex-start;
    }
    .wrapper-detail-num {
        padding-right: 0.3rem;
    }
    .section-h3 {
        font-size:14px;
        line-height: 2rem;
        letter-spacing:0.15rem;
        .section-txt {
            font-size:clamp(16px, 3vw, 20px); line-height: 2rem;
        }
    }
    .l-pagebanner {
        max-width: calc(1000px + 10%);
        h2.section-ttl {
            margin-bottom: 60px;
        }
        h2.section-ttl::after {
            bottom: -24px;
        }
        h4.section-h4 {
            font-size: clamp(16px, 6vw,25px);
            font-weight: 400;
            letter-spacing: 0.13rem;
            color: #0e1346;
            margin-top: 40px;
        }
        .section-h4-hr {
            color: #29318a;
            background-color: #29318a;
            width: 100%;
            height: 3px;
            opacity: 1;
            margin: 23px auto;
        }
        .section-h4-txt {
            font-size:14px;
            line-height: 2rem;
            letter-spacing:0.15rem;
        }
    }
    @media (max-width: 590px) {
        .display-590 {
            display: block!important;
        }
    }
}
@media (max-width: 890px) {
        .display-890 {
            display: block!important;
        }
    }