.l-about {
    max-width: 1000px;
    padding: 70px 2rem;
    margin: 0 auto;
    .txt-wrapper {
        padding-left: 1rem;
        display: flex;
        align-items: flex-start;
        a {
            text-decoration: none;
            color: #29318a;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    .wrapper-num {
        display: flex;
        align-items: flex-start;
        padding-right: 3px;
    }
    .txt-wrapper-detail {
        padding-left: 2rem;
        display: flex;
        align-items: flex-start;
    }
    .wrapper-detail-num {
        padding-right: 0.3rem;
    }
    .section-h3 {
        font-size:14px; line-height: 2rem; letter-spacing:0.15rem;
        .section-txt {
            font-size:clamp(16px, 3vw, 20px); line-height: 2rem;
        }
    }
    .l-pagebanner {
        max-width: calc(1000px + 10%);
        h2.section-ttl {
            margin-bottom: 60px;
        }
        h2.section-ttl::after {
            bottom: -24px;
        }
    }
}