.l-about {
    max-width: 800px;
    padding: 2rem;
    margin: 0 auto;
    .txt-wrapper {
        padding-left: 1rem;
        display: flex;
        align-items: flex-start;
    }
    .wrapper-num {
        display: flex;
        align-items: flex-start;
        padding-right: 3px;
    }
    .txt-wrapper-detail {
        padding-left: 2rem;
        display: flex;
        align-items: flex-start;
    }
    .wrapper-detail-num {
        padding-right: 0.3rem;
    }
}