.l-breadcrumb {
    height: 32px;
    width: 100%;
    background-color: rgb(194, 194, 194);
}
.l-news-latest {
    height: auto;
    width: 100%;
    background-color: rgb(215, 242, 242);
    margin: 65px auto;
    
    &-wrapper {
        h2 {
            text-align: left;
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        ul {
            // padding-left: 2rem;
            padding: 2rem 2rem;
        }
        margin: 0 auto;
        padding: 45px auto;
        height: 100%;
        max-width:800px;
        background-color: antiquewhite;

        li {
            gap: 2rem;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0!important;
                font-size: 14px;
            }
            date {
                font-size: 12px;
            }
            .item-category {
                font-size:12px;
                padding: 3px 0;
                min-width: 120px;
                max-width: 120px;
                background-color: #aeaeae;
                text-align: center;
                
            }
            .new-badge::before {
                content: "NEW";
                display: inline-block;
                color: white;
                background-color: rgb(252, 177, 17);
                width: 80px;
                text-align: center;
                border-radius: 90px;
            }
        }
        li:last-child {
            margin-bottom: 0;
          }
    }
    // .add-icon {
    //     border: 1px solid #232323;
    //     border-radius: 60px;
    //     background-color: #fff;
    //     color: #232323;
    // }
    // .add-icon::after {
    //     content: '';
    //     display: inline-block;
    //     width: 1em;
    //     height: 1em;
    //     margin-left: 0.5em;
    //     background-image: url('../../images/common/icon_right.svg');
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     vertical-align: middle;
    // }
    button {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}
.l-pagebanner {
    max-width: 800px;
    margin: 0 auto;
    &-inner {
        a {
            text-decoration: none!important;
            color: #0e1346;
        }
        max-width: 100%;
        height: auto;
        margin: 65px auto;
        display: grid;
        .grid-item {
            text-align: start;
            .is-row {
                padding-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                figcaption {
                    h2 {
                        font-size: clamp(13px, 3vw, 25px);
                    }
                    
                }
            }
        }
        .img-wide {
            max-width: 800px;
            max-height: 200px;
            height: auto;
        }
        .img-tight {
            max-width: 370px;
            max-height: 200px;
            height: auto;
        }
    }
    .grid-container {
        grid-template-columns: 1fr;
        img {
            max-width: 100%;
        }
    }
    .grid-container2 {
        grid-template-columns: 1fr 1fr;
        gap: 65px;
        .is-figspan {
            font-size: 12px;
        }
        img {
            max-width: 100%;
        }
    }
    h2.section-ttl {
        font-size: clamp(20px, 3vw, 33px);
        text-align: center;
        position: relative;
        color: #0e1346;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 64px;
            border-bottom: 2px solid #0e1346;
        }
    }
}
section.for-all {
    background-color:#D8DBE5;
    max-width: 100%;
    height: auto;
    margin: 0;
    .l-pagebanner-inner {
        max-width: 800px;
    }
    .banner-white {
            position: relative;
        .is-background {
            width: 370px;
            max-width: 100%;
            height: auto;
            max-height: 200px;
            border-radius: 5px;
        }
        .is-fronticon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 112px;
            max-width: 100%;
            max-height: 119px;
            height: auto;
        }
    }
}