.l-breadcrumb {
    height: 32px;
    width: 100%;
    background-color: aqua;
}
.l-news-latest {
    height: auto;
    width: 100%;
    background-color: rgb(215, 242, 242);
    margin: 65px auto;
    
    &-wrapper {
        h2 {
            text-align: left;
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        ul {
            // padding-left: 2rem;
            padding: 2rem 2rem;
        }
        margin: 0 auto;
        padding: 45px auto;
        height: 100%;
        max-width:800px;
        background-color: antiquewhite;

        li {
            gap: 2rem;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0!important;
                font-size: 14px;
            }
            date {
                font-size: 12px;
            }
            .item-category {
                font-size:12px;
                padding: 3px 0;
                min-width: 120px;
                max-width: 120px;
                background-color: #aeaeae;
                text-align: center;
                
            }
            .new-badge {
                color: white;
                background-color: rgb(252, 177, 17);
                width: 80px;
                text-align: center;
                border-radius: 90px;
            }
        }
        li:last-child {
            margin-bottom: 0;
          }
    }
    .add-icon {
        border: 1px solid #232323;
        border-radius: 60px;
        background-color: #fff;
        color: #232323;
    }
    .add-icon::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 0.5em;
        background-image: url('../../images/common/icon_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
    button {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}
.l-pagebanner {
    &-inner {
        max-width: 890px;
        height: auto;
        margin: 65px auto;
        display: grid;
        .grid-item {
            // max-width: 100%;
            // height: auto;
            background-color: lightblue;
            padding: 20px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-container2 {
        grid-template-columns: 1fr 1fr;
        gap: 65px;
        .is-figspan {
            font-size: 12px;
        }
    }
}