.l-titleview {
    height: 110px;
    width: 100%;
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
        height: 110px;
    }
    &-ttl {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 2rem;
        color: #232323;
        p {
            font-size: 20px;
            margin-bottom: 0!important;
        }
    }
}
.l-category-tab {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    button {
        background-color: rgb(180, 180, 180);
        color: white;
        border: none;
        padding: 3px;
        min-width: 140px;
        max-width: 140px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    button:hover {
        background-color: rgb(91, 91, 255);
    }
    .is-current {
        background-color: rgb(57, 57, 244);
    }
}
.l-article {
    ul {
        padding: 2rem;
    }
}
.l-side-grid {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
}
.archive-label {
    font-size: 14px;
    padding: 3px;
    width: 100%;
    color: white;
    background-color: rgb(57, 57, 244);
    text-align: center;
}
.aside-area {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 12px;
}

// ＠media 800pxの時
@media (max-width: 800px) {
    .l-side-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }